<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div style="background-color: whitesmoke">
  <ol>
    <% if not @asks.nil? %>
      <% @asks.each do |ask| %>
          <li>
            <% if current_user and (current_user.id != ask.user_id) %>
                <%= link_to "^", like_submission_path(ask), method: :put %>
            <% else %>
                <%= "*" %>
            <% end %>
            <%= link_to ask.title, home_newcomment_path(:submission_id => ask.id) %>
          </li>
          <p>
            <%= "#{ask.votes_for.size} points " %>
            <%= "by " + User.find(ask.user_id).name %>
            <%= time_ago_in_words(ask.created_at) + " ago | " %>
            <%= link_to ask.comments.length.to_s + " Comments",
                        home_newcomment_path(:submission_id => ask.id) %>
          </p>
      <% end %>
    <% else %>
        <p><strong> ¡No asks available, submit a new one! </strong></p>
    <% end %>
  </ol>
</div>
</body>
</html>
