<!DOCTYPE html>
<html>
<head>

</head>
<body>

  <div style="background-color: whitesmoke">
    <ol>
      <% @submissions.each do |sub| %>
        <li>
          <% if current_user and (current_user.id != sub.user_id) %>
              <%= link_to "^", like_submission_path(sub), method: :put %>
          <% else %>
              <%= "*" %>
          <% end %>
          <% if sub.tipo == 1 %>
              <%= link_to sub.title.to_s + " (source)", sub.link %>
          <% elsif sub.tipo == 2 %>
              <%= link_to sub.title, home_newcomment_path(:submission_id => sub.id) %>
          <% end %>
        </li>
        <p>
          <%= "#{sub.votes_for.size} points" %> |
          <%= User.find(sub.user_id).name %> |
          <%= link_to sub.comments.length.to_s + " Comments", home_newcomment_path(:submission_id => sub.id) %>
        </p>
      <% end %>
    </ol>
  </div>

</body>
</html>