<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div style="background-color: whitesmoke">
    <table style="border: 0; margin-bottom: 1%">
      <tbody>
        <tr>
          <strong>
            <% if current_user and (current_user.id != @submission.user_id) %>
                <%= link_to "^", like_submission_path(@submission), method: :put %>
            <% else %>
                <%= "*" %>
            <% end %>
            <% if @submission.tipo == 1 %>
              <%= link_to "URL: " + @submission.title, @submission.link %>
            <% elsif @submission.tipo == 2%>
              <%= "Ask CN: " + @submission.title %>
            <% end %>
          </strong>
        </tr>
        <tr>
          <p>
            <td>
              <%= "#{@submission.votes_for.size} points " %>
            </td>
            <td>
              <%= "by " + User.find(@submission.user_id).name %>
            </td>
            <td>
              <%= time_ago_in_words(@submission.created_at) + " ago | " %>
            </td>
            <td>
              <%= link_to @submission.comments.length.to_s + " Comments", home_newcomment_path(:submission_id => @submission.id) %>
            </td>
          </p>
        </tr>
      </tbody>
    </table>

    <table style="border: 0">
      <tbody>
        <tr>
          <td>
            <%= @submission.description %>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <%= form_for(@comment, url: home_createcomment_path) do |c| %>
                  <div class="field">
                    <%= c.text_area :texto %>
                  </div>
                  <%= c.hidden_field :user_id, :class => 'form-control' %>
                  <%= c.hidden_field :submission_id, :class => 'form-control' %>
                  <% if current_user %>
                    <div class="actions">
                      <%= c.submit "add comment" %>
                    </div>
                  <% else %>
                    <p><strong>Sign in if you want to comment, reply a comment or vote!</strong></p>
                  <% end %>
              <% end %>
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <ul>
        <% if @submission.comments.length > 0 %>
          <% @submission.comments.each do |comment| %>
            <li style="color: grey">
              <p>
                <% if current_user and (current_user.id != comment.user_id) %>
                    <%= link_to "^", like_comment_path(comment), method: :put %>
                <% else %>
                    <%= "*" %>
                <% end %>
                <%= "[ #{comment.votes_for.size} points ] " %>
                <%= User.find(comment.user_id).name %>
                <%= time_ago_in_words(comment.created_at) + " ago" %>
                </p>
            </li>
            <p> <%= comment.texto %> </p>
            <% if current_user %>
              <p><u><%= link_to "reply", home_newreply_path(:comment_id => comment.id) %></u></p>
            <% end %>
            <ul>
              <% if comment.replies.length > 0 %>
                <ul>
                  <% comment.replies.each do |reply| %>
                    <li style="color: grey">
                      <p>
                        <% if current_user and (current_user.id != reply.user_id) %>
                            <%= link_to "^", like_reply_path(reply), method: :put %>
                        <% else %>
                            <%= "*" %>
                        <% end %>
                        <%= "[ #{reply.votes_for.size} points ]" %>
                        <%= User.find(reply.user_id).name %>
                        <%= time_ago_in_words(comment.created_at) + " ago" %>
                      </p>
                    </li>
                    <p><%= reply.texto %></p>
                  <% end %>
                </ul>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</body>
</html>