<!DOCTYPE html>
<html>
<head>

</head>
<body>

  <div style="margin-left: 20%;">
    <p> By: <%= @comment.user_id %> At: <%= @comment.created_at %> </p>
    <p> Comment: <%= @comment.texto %> </p>
  </div>

  <div style=" margin-left: 20% ">

    <%= form_for(@reply, url: home_createreply_path) do |r| %>
        <%= r.text_area :texto, :class => 'form-control' %>
        <%= r.hidden_field :user_id, :class => 'form-control' %>
        <%= r.hidden_field :comment_id, :class => 'form-control' %>
        <%= r.submit "reply" %>
    <% end %>

  </div>

</body>
</html>