<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div style="background-color: whitesmoke">

    <table>
      <tbody>
        <tr>
          <td>
            <% if current_user and (current_user.id != @comment.user_id) %>
                <%= link_to "^", like_comment_path(@comment), method: :put %> by
            <% else %>
                <%= "* by " %>
            <% end %>
            <%= link_to User.find(@comment.user_id).name, home_showuser_path(:user_id => @comment.user_id) %>
          </td>
          <td>
            <%= time_ago_in_words(@comment.created_at) + " ago | " %>
          </td>
          <td>
            <%= link_to "parent", home_newcomment_path(:submission_id => @comment.submission_id) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= @comment.texto %>
          </td>
        </tr>
      </tbody>
    </table>

    <div style="">
      <%= form_for(@reply, url: home_createreply_path) do |r| %>
          <div class="field">
            <%= r.text_area :texto %>
          </div>
          <%= r.hidden_field :user_id, :class => 'form-control' %>
          <%= r.hidden_field :comment_id, :class => 'form-control' %>
          <div class="actions">
            <%= r.submit "reply" %>
          </div>
      <% end %>
    </div>
  </div>
</body>
</html>