<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div style="background-color: whitesmoke">

    <table>
      <tbody>
        <tr>
          <td>
            <%= "by " + User.find(@comment.user_id).name %>
          </td>
          <td>
            <%= "at " + @comment.created_at.to_s + " | " %>
          </td>
          <td>
            <%= link_to "parent", home_newcomment_path(:submission_id => @comment.submission_id) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= @comment.texto %>
          </td>
        </tr>
      </tbody>
    </table>

    <div style="">
      <%= form_for(@reply, url: home_createreply_path) do |r| %>
          <div class="field">
            <%= r.text_area :texto %>
          </div>
          <%= r.hidden_field :user_id, :class => 'form-control' %>
          <%= r.hidden_field :comment_id, :class => 'form-control' %>
          <div class="actions">
            <%= r.submit "reply" %>
          </div>
      <% end %>
    </div>
  </div>
</body>
</html>