<!DOCTYPE html>
<html>
<head>

</head>
<body>

  <div style="margin-left: 20%">
    <ol>
        <%= form_for(@submission, url: home_createsubmission_path) do |f| %>
            <div class="field">
              <%= f.label :title %><br>
              <%= f.text_field :title %>
            </div>
                <div class="field">
                  <%= f.label :link %><br>
                  <%= f.url_field :link %>
                </div>
                <div class="field">
                  <%= f.label :description %><br>
                  <%= f.text_area :description %>
                </div>
                <div class="actions">
                <%= f.submit %>
            </div>
          <% end %>
      </ol>
  </div>
  
</body>
</html>
