<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div style="background-color: whitesmoke">
    <ol>
      <% if not @news.nil? %>
        <% @news.each do |new| %>
            <li>
              <% if current_user and (current_user.id != new.user_id) %>
                <%= link_to "^", like_submission_path(new), method: :put %>
              <% else %>
                <%= "*" %>
              <% end %>
              <%= link_to new.title.to_s + " (source)", new.link %>
            </li>
            <p>
              <%= "#{new.votes_for.size} points " %>
              <%= "by " + User.find(new.user_id).name %>
              <%= time_ago_in_words(new.created_at) + " ago | " %>
              <%= link_to new.comments.length.to_s + " Comments",
                          home_newcomment_path(:submission_id => new.id) %></p>
        <% end %>
        <% else %>
          <p><strong> ¡No news available, submit a new one! </strong></p>
      <% end %>
    </ol>
  </div>
</body>
</html>
