<!DOCTYPE html>
<html>
<head>

</head>
    <body>
        <div>
            <p>
              <%= image_tag(@user.image) %>
            </p>
            <p>
              <strong>user:</strong>
              <font color = 'green'>
                <%= @user.name %>
              </font>
            </p>
            <p> 
              <strong>created:</strong>
              <%= time_ago_in_words(@user.created_at) unless @user.created_at.blank? %> ago
            </p>
            </p>
            <p>
              <strong>email:</strong>
              <%= @user.email %>
            </p>
          <p>
            <strong>about:</strong>
            <%= @user.about %>
          </p>
          <p>
            <% if current_user and current_user.id == @user.id %>
                <%= link_to "Edit profile", home_edituser_path %>
                <ul>
                  <li><%= link_to "My comments", threads_path %></li>
                  <li><%= link_to "My replies", threads_path %></li>
                  <li><%= link_to "My submissions", mysubmissions_path(:user_id => current_user.id) %></li>
                </ul>
            <% end %>
        </div>
    </body>    
</html>